<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cool Sign-Up Page</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
}
/* Custom CSS */
body {
	background-color: #f8f9fa;
}

.header-section {
	background-color: #17a2b8;
	padding: 30px;
	color: #fff;
	text-align: center;
}
</style>
</head>
<body>
	<div class="header-section">
		<a th:href="@{/goBack}"> Dashboard </a>
		<h2  th:if= "${!#strings.isEmpty(totalSubmission)}" th:text="'Total Submissions '+${totalSubmission}+'/'+${totalStrength}"></h2>
		<form th:action="@{/filterAssignments}" method="post" id="myForm">
			<select name="selectAssignmentNum" onchange="submitForm()">
				<option value="">--Filter Assignments--</option>
				<option th:each="assignment,status:${totalAssignments}" th:value="${status.index+1}" th:text="${status.index+1}"></option>
			</select>
		</form>
	</div>
	<div class="container">
		<div class="card p-4" th:each="submission:${submissions}">
			<div class="row" >
				<div class="col-9">
					<div class="d-flex align-items-center" >
						<div class="mr-4">
							<h5 class="mb-0">Assignment Number:</h5>
							<p class="mb-0" th:text="${submission.assignNum}" ></p>
						</div>
						<div>
							<h5 class="mb-0">Roll Number :</h5>
							<p class="mb-0" th:text="${submission.rollNum}"></p>
						</div>
						<div>
							<h5 class="mb-0">Department:</h5>
							<p class="mb-0" th:text="${submission.dept}"></p>
						</div>
						<div>
							<h5 class="mb-0">Section:</h5>
							<p class="mb-0" th:text="${submission.section}"></p>
						</div>
					</div>
				</div>
				<div class="col-3 d-flex align-items-center justify-content-end">
					<form action="" method="post">
						<input type="submit" class="btn btn-primary" value="Open Assignment"/>
					</form>
				</div>
			</div>
		</div>

	</div>
	<script>
		function submitForm(){
			document.getElementById("myForm").submit();
		}
	</script>

</body>
</html>
