<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/footer.css">
<style type="text/css">
a {
	color: white;
	text-decoration: none;
}

.header-section {
	background-color: #17a2b8;
	padding: 30px;
	color: #fff;
	text-align: center;
}
.button {
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #0056b3;
	color:white;
	text-decoration: none;
}
</style>
</head>
<body>
	<div class="header-section">
		<a th:href="@{/goBack}">DashBoard</a>
		<h2>Students Details</h2>
	</div>
	<li class="alert alert-success" role="alert"
			th:if="${!#strings.isEmpty(attendStatus)}" th:text="${attendStatus}"></li>
	<form th:action="@{/submitAttendance}" method="post">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Register Number</th>
					<th scope="col">Department</th>
					<th scope="col">Student Status</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student,status:${students}">
					<td th:text="${student.name}"></td>
					<td th:text="${student.rollNum}"></td>
					<td th:text="${student.department}"></td>
					<td>
					<input type="hidden" th:name="'roll-'+(${status.index})" th:value="${student.rollNum}"/>
					<input type="hidden" th:name="'subId-'+(${status.index})" th:value="${subjectCode}"/>
					<input type="text" th:name="'attendStatus-'+${status.index}"/>
					</td>
				</tr>
			</tbody>
		</table>
			<input type="submit" class="button" value="submit Attendance"/>
	</form>
</body>
</html>